<section class="flex flex-row items-center justify-evenly" id="#">
  <div class="flex flex-col pl-14">
    <div>
      <h1
        class="m-1 pt-28 text-left font-serif text-5xl font-semibold tracking-title text-primary"
      >
        Transformando tus ideas en experiencias digitales
      </h1>
    </div>
    <div>
      <p
        class="m-1 w-96 pt-8 text-base font-normal tracking-text text-secondary"
      >
        Nos dedicamos a la creación de páginas web enfocándonos en el diseño y
        la
        <span class="text-primary">experiencia de usuario</span> buscando un
        resultado <span class="text-primary">utilizable</span>, inclusivo y <span
          class="text-primary">accesible</span
        > para todas las personas, junto con <span class="text-primary"
          >código limpio</span
        >, <span class="text-primary">escalable</span> y <span
          class="text-primary">optimizado</span
        >.
      </p>
    </div>
  </div>
  <div>
    <img class="m-1 w-[1800px] pr-14 pt-28" src="/hero2.svg" alt="" />
  </div>
</section>
