---

---

<section id="#" class="h-screen w-screen">
  <p class="tracking-text w-1/3 text-base text-secondary">
    Nos dedicamos a la creación de páginas web enfocándonos en el diseño y la
    <span class="text-primary">experiencia de usuario</span> buscando un
    resultado <span class="text-primary">utilizable</span>, inclusivo y <span
      class="text-primary">accesible</span
    > para todas las personas, junto con <span class="text-primary"
      >código limpio</span
    >, <span class="text-primary">escalable</span> y <span class="text-primary"
      >optimizado</span
    >.
  </p>
</section>
