<section id="portfolio">
  <div class="flex justify-center">
    <h2
      class="m-1 w-1/2 pt-28 text-center font-serif text-5xl font-bold tracking-title text-primary"
    >
      Algunas de las organizaciones que hemos ayudado
    </h2>
  </div>
  <div class="m-1 flex justify-center pt-16">
    <a href="/portfolio">
      <span
        class="rounded-full border-1 bg-quinary px-4 py-2 text-base font-normal tracking-text text-secondary shadow-sm hover:border-sextenary hover:bg-tertiary hover:text-primary"
        >Conoce más</span
      >
    </a>
  </div>
</section>
