<section id="portfolio">
  <div class="flex justify-center">
    <h2
      class="m-1 w-1/2 pt-28 text-center text-5xl font-semibold tracking-title text-primary"
    >
      Algunas de las organizaciones que hemos ayudado
    </h2>
  </div>
</section>
