---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contacto | Emalabs">
  <header>
    <nav>
      <Navbar />
    </nav>
  </header>
  <main></main>
  <footer>
    <Footer />
  </footer>
</Layout>
