---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Desarrollo de sitios web y aplicaciones móviles | Emalabs">
  <header>
    <nav></nav>
  </header>
  <main></main>
  <footer></footer>
</Layout>
