---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portfolio | Emalabs">
  <header>
    <nav>
      <Navbar />
    </nav>
  </header>
  <main>
    <div class="flex justify-center">
      <h2
        class="m-1 w-1/2 pt-28 text-center text-5xl font-semibold tracking-title text-primary"
      >
        Estos son algunos de los deseos que ayudamos a hacer realidad
      </h2>
    </div>
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>
