<div class="flex flex-row items-baseline justify-center gap-32 pt-16">
  <div class="m-1 flex flex-col items-center justify-center">
    <img class="w-[100px]" src="/web.svg" alt="" />
    <h3
      class="pb-3 pt-5 font-serif text-3xl font-semibold tracking-title text-primary"
    >
      Páginas web
    </h3>
    <p
      class="m-1 w-56 text-center text-base font-normal tracking-text text-secondary"
    >
      Hacemos realidad tus ideas a través de desarrollo Full-stack. Aplicaciones
      y sitios a medida acordes a tus expectativas.
    </p>
  </div>
  <div class="m-1 flex flex-col items-center justify-center">
    <img class="w-[45px]" src="/mobile.svg" alt="" />
    <h3
      class="pb-3 pt-5 font-serif text-3xl font-semibold tracking-title text-primary"
    >
      Aplicaciones móviles
    </h3>
    <p
      class="m-1 w-56 text-center text-base font-normal tracking-text text-secondary"
    >
      Desarrollamos aplicaciones móviles híbridas que darán solución a tus
      clientes tanto en Android como en iOS
    </p>
  </div>
  <div class="m-1 flex flex-col items-center justify-center">
    <img class="w-[100px]" src="/chatbot.svg" alt="" />
    <h3
      class="pb-3 pt-5 font-serif text-3xl font-semibold tracking-title text-primary"
    >
      Chatbot
    </h3>
    <p
      class="m-1 w-56 text-center text-base font-normal tracking-text text-secondary"
    >
      Creamos Chatbots a medida para captar potenciales clientes, brindar
      información o mantener disponible tus servicios 24/7.
    </p>
  </div>
</div>
