---
const NAVIGATION_LINKS = [
  {
    title: "Inicio",
    href: "/#",
  },
  {
    title: "Servicios",
    href: "/#services",
  },
  {
    title: "Portfolio",
    href: "/portfolio",
  },
];
---

<div class="fixed top-0 z-10 block w-full bg-tertiary">
  <div class="m-1 flex flex-row items-center justify-between px-8 py-3">
    <a href="/#"><img src="/logo.svg" alt="Logo" width="160px" /></a>
    <ul class="flex flex-row gap-7">
      {
        NAVIGATION_LINKS.map(({ title, href }) => {
          return (
            <>
              <li>
                <a
                  class="text-base font-medium tracking-text text-secondary hover:text-primary"
                  href={href}
                >
                  {title}
                </a>
              </li>
            </>
          );
        })
      }
      <li>
        <a
          class="rounded-full border-1 bg-quinary px-4 py-2 text-base font-medium tracking-text text-secondary shadow-sm hover:border-sextenary hover:bg-tertiary hover:text-primary"
          href="/contact"
        >
          Contacto
        </a>
      </li>
    </ul>
  </div>
</div>
